@use '@angular/material' as mat;

@use '../themes/light';
@use '../themes/dark';

@mixin material-theme($theme-type) {
	$primary-palette: mat.$orange-palette;
	@if $theme-type == light {
		$primary-palette: mat.$blue-palette;
	}

	@include mat.theme((
		color: (
			primary: $primary-palette,
			tertiary: $primary-palette,
			theme-type: $theme-type,
		),
		typography: Roboto,
		density: -1,
	));
}
