// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use 'styles/abstracts/variables' as v;
@use 'styles/abstracts/mixins';
@use 'styles/abstracts/theme';
@use 'styles/abstracts/utilities';


html {
  height: 100%;
}

.light-theme {
  @include theme.material-theme(light);
}

.dark-theme {
  @include theme.material-theme(dark);
}

app-root {
  display: block;
  height: 100%;
  min-height: 100dvh;
}

body {
  margin: 0;
  height: 100%;

  background: var(--app-background, v.$background);
  color: var(--app-text-primary, v.$text-primary);
  font-family: Roboto, sans-serif;
  transition: background-color 180ms ease, color 180ms ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}